.btn.btn-error
{
    background: #ff4d4f;
    border: none;
    color: white;

    transition: background .3s ease;
}

.btn.btn-error:hover {
    background: #ff595c;
}

.cart-quantity .cart-quantity__field {
    display: inline-block;
    padding: 0;
    max-width: 50px;
    width: auto;
    height: 22px;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent !important;
    color: #000;
    vertical-align: middle;
    text-align: center;
    transition: border 300ms ease;
}

.cart-quantity .cart-quantity__minus,
.cart-quantity .cart-quantity__plus {
    position: relative;
    display: inline-block;
    min-width: 22px;
    height: 22px;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: #414141;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: background 300ms ease, opacity 300ms ease;
}

.cart-quantity .cart-quantity__minus:hover,
.cart-quantity .cart-quantity__plus:hover {
    background-color: #00AEEF;
    color: white;
}

.bx-sbb-empty-cart-container {
    padding: 40px 0 80px;
}

.cart-empty .cart-empty__picture:before,body .bx-sbb-empty-cart-image {
    width: 106px;
    margin: 0 auto;
    height: 72px;
    display: block;
    background: url(./images/cart_empty.svg) 0 0 no-repeat
}
.cart-empty .cart-empty__info .title,body .bx-sbb-empty-cart-text {
    font-size: 1.6em;
    margin: 2.2rem 0 1.2rem;
    color: #333;
    text-align: center;
}
.cart-empty .cart-empty__info p,body .bx-sbb-empty-cart-desc {
    font-size: .933em;
    color: #777;
    line-height: 1.714em;
    text-align: center;
}

.cart-checkout-block {
    position: static;
    padding: 24px 29px 24px;
    border-radius: 3px;
    width: 100%!important;

    margin-bottom: 20px;
    border: 1px solid #ececec;
    border-radius: 2px;
    background-color: #fff;

    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cart-checkout-block .basket-checkout-section .basket-checkout-section-inner {
    display: flex;
    gap: 20px;
}

.cart-checkout-block .basket-coupon-block-total-price-current{
    color: #2f3435;
    text-align: right;
    white-space: nowrap;
    font: 400 30px/30px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: 180ms text-shadow ease,180ms color ease;
}